@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

@using (Html.BeginForm("Index", "Movies", FormMethod.Get))
{

    <div class="form-inline">
        Title: @Html.TextBox("SearchString", null, new { @class = "form-control" })
        Genre: @Html.DropDownList("movieGenre",null, "All", new { @class = "form-control"})
        <input class="btn btn-info" type="submit" value="Filter" />
        <p></p>
    </div>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Items in Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(movie.Name, "Edit", "Movies", new { id = movie.Id }, null) </td>
                <td>@movie.GenreType.Name</td>
                <td>@movie.NumberInStock</td>
            </tr>
        }
    </tbody>
</table>
