@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "Movie Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Movie != null)
{
    <h2>Edit Movie - @Model.Movie.Name</h2>
}
else
{
    <h2>Fill the Movie Form to add an additional</h2>
}

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Movie.Name) })
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Movie.ReleaseDate) })
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.GenreTypeId)
        @Html.DropDownListFor(m => m.Movie.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Movie Genre", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Movie.GenreTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Movie.NumberInStock)
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Movie.NumberInStock) })
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>
    if (Model.Movie != null)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.DateAdded)
            @Html.TextBoxFor(m => m.Movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Movie.DateAdded)
        </div>
    }
    else
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Movie.DateAdded)
            @Html.TextBoxFor(m => m.Movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control", @Value = DateTime.Now.ToShortDateString() })
            @Html.ValidationMessageFor(m => m.Movie.DateAdded)
        </div>
    }
    @Html.HiddenFor(m => m.Movie.Id)

    <div class="form-group">
        <button class="btn btn-primary">Save</button>
        @Html.ActionLink("Cancel", "Index", "Movies", null, new { @class = "btn btn-success" })
    </div>
}

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}
