@*@model IEnumerable<Vidly.Models.Customer>*@
@model PagedList.IPagedList<Vidly.Models.Customer>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<div>
    <p>@Html.ActionLink("New Customer", "New", "Customers", null, new { @class = "btn btn-success" })</p>
</div>

@if (!Model.Any())
{
    <p>We do not have customers yet.</p>
}
else
{
    using (Html.BeginForm("Index", "Customers", FormMethod.Get))
    {

        <div class="form-inline">
            Name: @Html.TextBox("SearchString", null, new { @class = "form-control" })
            Genre: @Html.DropDownList("discountRate", null, "All", new { @class = "form-control" })
            <input class="btn btn-info" type="submit" value="Filter" />
            <p></p>
        </div>
    }

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>@Html.ActionLink("Customers", "Index", new { sortOrder = ViewBag.NameSortParm, movieGenre = ViewBag.CurrentGenre, searchString = ViewBag.CurrentSearch })</th>
                <th>@Html.ActionLink("Discount Rate", "Index", new { sortOrder = ViewBag.GenreSortParam, discountRate = ViewBag.CurrentGenre, searchString = ViewBag.CurrentSearch })</th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                </td>
                <td>
                    @customer.MembershipType.Name
                </td>
            </tr>
        }
    </table>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))